<tndm-code-golf-rank [byteCount]="byteCount()" [previousBest]="previousBest()" [rank]="currentRank()" />

@if (isChallengeLoading()) {
<p class="challenge-info">Loading Challenge...</p>
} @else if (currentChallenge(); as challenge) {
<div class="challenge-wrapper">
  <h2 class="challenge-title">{{ challenge.title }}</h2>
  <p class="challenge-description">{{ challenge.description }}</p>
</div>
} @else {
<p class="challenge-info">No challenges available at the moment.</p>
} @if (showResults() && result(); as resultData) {
<tndm-code-golf-results [result]="resultData" (closeModal)="closeModal()" />
}

<tndm-code-golf-editor [(value)]="rawCode" />

<div class="controls">
   <tndm-button [btnConfig]="checkBtnConfig()" (click)="checkSolution()" />
  <tndm-button [btnConfig]="nextBtnConfig" (click)="nextChallenge()" />
</div>
