<h2 class="game-name">Code golf</h2>

<tndm-code-golf-rank [byteCount]="byteCount()" [rank]="currentRank()" />

@if (challengeResource.isLoading()) {
<p class="challenge-info">Loading Challenge...</p>
} @else if (currentChallenge(); as challenge) {
<div class="challenge-wrapper">
  <h2 class="challenge-title">{{ challenge.title }}</h2>
  <p class="challenge-description">{{ challenge.description }}</p>
</div>
} @else {
<p class="challenge-info">No challenges available at the moment.</p>
} @if (showModal() && lastResult(); as result) {
<tndm-code-golf-results [result]="result" (closeModal)="closeModal()" />
}

<tndm-code-golf-editor [(value)]="rawCode" />

<div class="controls">
  <tndm-button [btnConfig]="checkBtnConfig" (click)="checkSolution()" />
  <tndm-button [btnConfig]="nextBtnConfig" (click)="nextChallenge()" />
</div>
