@use 'styles/typography' as t;
@use 'styles/variables' as v;
@use 'styles/mixins' as m;
@use 'styles/adaptive' as a;

.navigation {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;

  @include a.tablet() {
    justify-content: end;
  }
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: solid v.$color-grey;
  border-width: 0 1px 1px 1px;

  padding: 10px 15px;

  &__mobile {
    display: none;
  }

  @include a.tablet() {
    gap: 20px;
  }

  @include a.mobile() {
    padding: 5px 10px;
    border-width: 0 0 1px;

    &__desktop {
      display: none;
    }

    &__mobile {
      display: flex;
    }
  }

  &__auth-btns {
    display: flex;
    gap: 25px;
    width: fit-content;

    @include a.mobile() {
      flex-direction: column;
      gap: 10px;
    }
  }
}

.nav {
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: end;
  @include t.text-body(v.$text-primary-color);
  font-size: 14px;
  width: 100%;
}

.avatar-btn {
  border: none;
  background: none;
  display: flex;
  gap: 5px;
  align-items: center;
  margin-right: auto;
  @include t.text-body();
}

@include a.mobile() {
  .header {
    padding: 5px 10px;
    border-width: 0 0 1px;
  }

  .header__desktop {
    display: none;
  }

  .header__mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  tndm-lang-switcher {
    margin-right: auto;
  }
}
