<header class="header">
  <nav class="navigation" [class.open]="isMenuOpen">
    <ul class="nav header__desktop" [class.open]="isMenuOpen">
      @if(authService.isAuthenticated){
      <button class="nav__link avatar-btn" type="button" (click)="userProfileService.open()">
        <tndm-avatar [size]="28" />
        <span class="avatar-btn__title">{{userService.context()?.displayName}}</span>
      </button>
      <tndm-dropdown label="games" [items]="navItems"><tndm-lang-switcher /> </tndm-dropdown>
      <tndm-button [btnConfig]="logoutBtnConfig()" (clicked)="onLogoutClick()" />
      } @else{
      <tndm-lang-switcher />
      <li class="header__auth-btns">
        <tndm-button [btnConfig]="signUpBtnConfig()" (clicked)="onSignUpClick()" />
        <tndm-button [btnConfig]="signInBtnConfig()" (clicked)="onSignInClick()" />
      </li>
      }
    </ul>

    <div class="header__mobile">
      @if(!authService.isAuthenticated){
      <tndm-lang-switcher />
      <tndm-dropdown label="menu" [items]="[]">
        <li class="header__auth-btns">
          <tndm-button [btnConfig]="signUpBtnConfig()" (clicked)="onSignUpClick()" />
          <tndm-button [btnConfig]="signInBtnConfig()" (clicked)="onSignInClick()" />
        </li>
      </tndm-dropdown>
      } @else {
      <button class="nav__link avatar-btn" type="button" (click)="userProfileService.open()">
        <tndm-avatar [size]="28" />
        <span class="avatar-btn__title">{{userService.context()?.displayName}}</span>
      </button>
      <tndm-dropdown label="menu" [items]="navItems">
        <tndm-button [btnConfig]="logoutBtnConfig()" (clicked)="onLogoutClick()" />
        <tndm-lang-switcher />
      </tndm-dropdown>
      }
    </div>
  </nav>
</header>
