<div class="ti-page">
  @if (!activePuzzle()) {
  <tndm-puzzle-select [puzzles]="allPuzzles()" (puzzleSelected)="onPuzzleSelected($event)" />
  } @else {
  <tndm-puzzle-board [puzzle]="activePuzzle()!" (back)="onBack()" (solved)="onPuzzleSolved()" />
  } @if (solvedIds().size > 0) {
  <footer class="ti-progress">
    <span class="ti-progress__label"> Solved: {{ solvedIds().size }} / {{ allPuzzles().length }} </span>
    <div class="ti-progress__bar">
      <div class="ti-progress__fill" [style.width.%]="progressPercent()"></div>
    </div>
  </footer>
  }
</div>
