@use '/styles/variables' as vars;
@use '/styles/typography' as typ;

@mixin auth-form {
  .form {
    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      min-width: 360px;
      width: 100%;
    }

    &__body {
      display: flex;
      flex-direction: column;
      gap: vars.$space-md;
      padding-bottom: 2rem;
    }

    &__footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: vars.$space-xs;
    }

    &__subtitle {
      padding: vars.$space-md;
      @include typ.text-subtitle();
    }

    &__link {
      @include typ.text-accent;
      padding-top: vars.$space-md;
    }
  }
}
