@use '/styles/variables' as vars;
@use '/styles/typography' as typ;

@mixin auth-form {
  :host {
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .form {
    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: vars.$space-xl;
      max-width: 440px;
      padding: 0 vars.$space-md;
      height: 100%;
      width: 100%;
    }

    &__header {
      display: flex;
      flex-direction: column;
      gap: vars.$space-xs;
    }

    &__body {
      display: flex;
      flex-direction: column;
      gap: vars.$space-md;
      background-color: vars.$bg-main;
    }

    &__footer {
      display: flex;
      flex-direction: column;
      gap: vars.$space-lg;
    }

    &__description {
      @include typ.text-ui;
      font-weight: bold;
    }

    &__title {
      @include typ.saibex-heading-xl;
    }

    &__sub-title {
      display: flex;
      align-items: center;
      gap: vars.$space-sm;

      .title {
        @include typ.text-ui;
        font-weight: bold;
      }
    }

    &__sign-with {
      display: flex;
      flex-direction: column;
      gap: vars.$space-md;
    }

    &__link {
      @include typ.text-ui(vars.$text-accent-color);
      text-decoration: none;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .custom-divider {
    display: flex;
    align-items: center;
    width: 100%;
    @include typ.text-ui(vars.$color-grey);
    font-weight: bold;
  }

  .custom-divider::before {
    content: '';
    width: 2rem;
    height: 1px;
    background: vars.$color-grey;
    margin-right: 1rem;
  }

  .custom-divider::after {
    content: '';
    flex: 1;
    height: 1px;
    background: vars.$color-dark-grey;
    margin-left: 1rem;
  }
}
