@use './styles/variables' as v;
@use './styles/typography' as mx;

:host {
  display: contents;
}

.review-tooltip {
  position: absolute;
  z-index: 10;
  background: v.$color-gray;
  border: 1px solid v.$border-main-color;
  border-radius: v.$radius-md;
  color: v.$color-white;
  display: flex;
  flex-direction: column;
  margin-top: 25vh;
}

.review-tooltip_option {
  background-color: v.$color-orange;
  color: v.$color-black;
  @include mx.text-body();
  padding: v.$radius-sm;
  cursor: pointer;
}

.review-tooltip_label {
  color: v.$color-white;
  @include mx.text-subtitle();
}

.review-tooltip_error {
  margin: 0 0 v.$space-xs;
  @include mx.text-body(v.$color-error);
}
