@use '/styles/typography' as typography;
@use '/styles/variables' as variables;
@use './shared/typography' as exam;

:host {
  @include typography.text-body();
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.description,
.text-input-instruction,
.text-input {
  @include exam.font-that-supports-russian();
}

tndm-button {
  display: inline-block;
  align-self: flex-start;
}

.await-loading {
  cursor: wait;
}

:host ::ng-deep tndm-button.await-loading .button {
  cursor: wait;
  transform: none;
}

.button-wrapper {
  display: flex;
  gap: 20px;
}

textarea {
  max-width: 600px;
  padding: 5px;
  font-size: 1.1em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
}
