<nav class="navigation">
  <ul class="nav">
    <li class="nav__item">
      <a class="nav__link" routerLinkActive="nav__link_active" [routerLink]="appRoutes.codeGolf">code_golf</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" routerLinkActive="nav__link_active" [routerLink]="appRoutes.asyncSorter">async_sorter</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" routerLinkActive="nav__link_active" [routerLink]="appRoutes.typeInvestigator"
        >type_investigator</a
      >
    </li>
    <li class="nav__item">
      <a class="nav__link" routerLinkActive="nav__link_active" [routerLink]="appRoutes.sandbox">sandbox</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" routerLinkActive="nav__link_active" [routerLink]="appRoutes.eventLoop">event_loop</a>
    </li>
  </ul>
</nav>
