@use './styles/typography' as mx;
@use './styles/variables' as vars;

.auth-page {
  &__wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: vars.$bg-main;
  }

  &__title {
    padding-top: vars.$space-xl;
    @include mx.text-title();
  }

  &__sub-title {
    text-align: center;
    padding: vars.$space-xl 0;
    @include mx.text-subtitle();
  }
}
