@use '../../../../styles/typography' as typ;
@use '../../../../styles/variables' as vars;

:host {
  display: block;
  height: 100%;
  width: 100%;
}

.ai-input {
  &__wrapper {
    display: grid;
    grid-template-rows: auto 2rem;
    gap: vars.$space-md;
    padding: vars.$space-md;
    height: 100%;
  }

  &__textarea {
    padding-top: vars.$space-xs;
    padding-left: vars.$space-md;
    height: 100%;
    width: 100%;
    outline: none;
    resize: none;
    border-radius: vars.$radius-md;

    @include typ.text-ui;
  }
}
