@use 'styles/variables' as v;
@use 'styles/typography' as t;
@use 'styles/adaptive' as a;

.user-profile-overlay {
  position: fixed;
  inset: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 0.1s;

  &.open {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.1s;
  }
}

.user-profile {
  width: 100%;
  max-width: 500px;
  background-color: v.$bg-main;
  border: 1px solid v.$border-main-color;
  padding: 1.5rem 2rem 3rem;
  box-shadow: 0 -10px 25px rgba(0, 0, 0, 0.1);
  color: #333;
  margin: 10px;

  &__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    position: relative;
    margin-bottom: 2rem;
  }

  &__title {
    @include t.saibex-heading-md();
    font-size: 20px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: inherit;
  }

  @include a.mobile() {
    padding: 20px;
  }
}

.close-icon {
  width: 25px;
  display: block;
  height: auto;
  path {
    fill: v.$color-accent;
  }
}

.avatar-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-bottom: 30px;

  .user-profile__name {
    @include t.text-body();
    font-size: 20px;
    font-weight: 700;
  }
}

.user-profile__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-profile__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}

.modal-body {
  overflow-y: auto;
  max-height: 70vh;
}

.user-profile__info-display {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user-profile__info-group {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .label {
    @include t.text-ui();
    font-size: 20px;
  }

  .value {
    @include t.text-body($color: v.$color-dark-grey);
  }
}

.textarea {
  position: relative;
  box-sizing: border-box;
  margin-top: v.$space-md;
  background-color: inherit;
  @include t.text-body();

  &__label {
    position: absolute;
    top: -8px;
    left: 10px;
    z-index: 2;
    padding: 0 10px;
    text-transform: lowercase;
    background-color: inherit;
    @include t.text-ui($size: v.$font-size-sm);
  }

  &__container {
    position: relative;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    border: 2px solid v.$border-main-color;
    transition: v.$transition-base;
    background-color: inherit;

    &:has(.textarea__field:hover, .textarea__field:focus-visible) {
      border-color: v.$color-accent;
      color: v.$color-accent;
    }
  }

  &__field {
    width: 100%;
    border: none;
    padding: v.$space-md;
    background-color: inherit;
    caret-color: v.$color-accent;
    color: inherit;
    @include t.text-body();

    min-height: 120px;
    resize: vertical;
    font-family: inherit;

    &:focus {
      outline: none;
    }

    &::placeholder {
      @include t.text-ui($color: v.$color-dark-grey, $weight: v.$font-weight-normal);
    }
  }
}
