<div
  #overlay
  class="user-profile-overlay"
  role="button"
  tabindex="0"
  [class.open]="service.isOpen()"
  (click)="service.close()"
  (keydown.enter)="service.close()">
  <section
    class="user-profile"
    tabindex="-1"
    [formGroup]="profileForm"
    (click)="$event.stopPropagation()"
    (keydown)="$event.stopPropagation()">
    <header class="user-profile__header">
      <h2 class="user-profile__title">
        {{ (service.isEditMode() ? 'profile.title_edit' : 'profile.title_view') | transloco}}
      </h2>
      @if (!service.isEditMode()){
      <tndm-button [btnConfig]="{icon: 'edit', variant: 'icon'}" (clicked)="service.toggleEditMode()" />
      }
    </header>

    <main class="user-profile__main">
      <div class="avatar-wrapper">
        <tndm-avatar [size]="120" />
        <p class="user-profile__name">{{user()?.displayName}}</p>
      </div>
    </main>

    @if (service.isEditMode()){
    <form class="user-profile__form" (submit)="handleSubmit()">
      <tndm-input
        formControlName="username"
        id="username"
        name="username"
        placeholder="Enter your name"
        [label]="'profile.label_username' | transloco"
        [trimmed]="true" />

      <div class="textarea">
        <label class="textarea__label" for="bio-textarea">{{'profile.label_about' | transloco}}</label>
        <div class="textarea__container">
          <textarea
            class="textarea__field"
            formControlName="bio"
            id="bio-textarea"
            rows="4"
            [placeholder]="'profile.placeholder_bio' | transloco">
          </textarea>
        </div>
      </div>

      <tndm-input
        formControlName="email"
        id="email"
        name="email"
        placeholder="Enter email"
        [label]="'profile.label_email' | transloco" />

      <tndm-input
        autocomplete="new-password"
        formControlName="password"
        id="password"
        name="password"
        placeholder="********"
        type="password"
        [errorMessages]="AUTH_ERROR_MESSAGES"
        [label]="'profile.label_password' | transloco" />

      <div class="user-profile__buttons">
        <tndm-button
          [btnConfig]="{ label: ('profile.btn_cancel' | transloco), variant: 'secondary' }"
          (clicked)="reset()" />
        <tndm-button
          [btnConfig]="{
              label: ('profile.btn_save' | transloco),
              variant: 'primary',
              isDisabled: profileForm.invalid || !profileForm.dirty,
              type: 'submit'
            }" />
      </div>
    </form>
    } @else {
    <article class="user-profile__info-display">
      <div class="user-profile__info-group">
        <p class="label">{{'profile.label_username' | transloco}}</p>
        <p class="value">{{user()?.email}}</p>
      </div>
      <div class="user-profile__info-group">
        <p class="label">{{'profile.label_about' | transloco}}</p>
        <p class="value">{{user()?.bio || ('profile.no_bio' | transloco)}}</p>
      </div>
    </article>
    }
  </section>
</div>
