:host {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  padding-inline: 20px;
}

.stats-wrapper {
  display: flex;
  gap: 30px;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

.fields-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}
