@use '../../shared/drag-drop' as dragDrop;
@use '../../shared/field-heading' as heading;

.final-stack-content {
  @include dragDrop.drag-drop-container;
  min-width: 321px;
  min-height: 200px;
}

.is-hidden {
  visibility: hidden;
}

.heading {
  @include heading.field-heading;
}
