<article class="viewer">
  <header class="viewer_header">
    <span class="viewer_filename">{{ reviewCase().title | transloco}}</span>
    <span class="viewer_category">{{ reviewCase().category | transloco}}</span>
  </header>

  <div class="viewer_editor">
    @for (line of linesState(); track line.lineNumber) {
    <span class="viewer_line-num">{{ line.lineNumber }}</span>
    <div
      class="viewer_line"
      tabindex="0"
      [class.viewer_line--found]="line.isFound"
      (click)="onLineClick(line.lineNumber, $event)"
      (keydown.enter)="onLineClick(line.lineNumber, $event)">
      <code class="viewer_text" [innerHTML]="highlightedLines()[line.lineNumber - LINE_SHIFT]"></code>
    </div>

    @if (line.isFound && line.foundError) {
    <div class="viewer_explanation">{{ line.foundError.message | transloco }}</div>
    } @if (tooltipLine() === line.lineNumber) {
    <tndm-review-tooltip [wrongType]="wrongType()" (closed)="closeTooltip()" (typeSelected)="onTypeSelected($event)" />
    } }
  </div>
  <footer class="viewer_footer">
    <span class="viewer_progress">
      {{ 'reverseCodeReview.found' | transloco }} {{ foundCount() }} / {{ totalErrors() }} {{ 'reverseCodeReview.errors'
      | transloco }}
    </span>
    <span class="viewer_score">
      {{ 'reverseCodeReview.score' | transloco }} {{ score() }} {{ 'reverseCodeReview.points' | transloco }}
    </span>
  </footer>
</article>
