<article class="viewer">
  <header class="viewer_header">
    <span class="viewer_filename">{{ reviewCase().title }}</span>
    <span class="viewer_category">{{ reviewCase().category }}</span>
  </header>

  <div class="viewer_editor">
    <div class="viewer_gutter">
      @for (line of linesState(); track line.lineNumber) {
      <span class="viewer_line-num">{{ line.lineNumber }}</span>
      }
    </div>

    <div class="viewer_code">
      @for (line of linesState(); track line.lineNumber) {
      <div
        class="viewer_line"
        tabindex="0"
        [class.viewer_line--found]="line.isFound"
        (click)="onLineClick(line.lineNumber, $event)"
        (keydown.enter)="onLineClick(line.lineNumber, $event)">
        <code class="viewer_text" [innerHTML]="highlightedLines()[line.lineNumber - LINE_SHIFT]"></code>
      </div>
      }
    </div>
  </div>
</article>
