<h3 class="heading">Task Buckets</h3>

<ul class="task-buckets-list-content">
  <li
    tndm-task-bucket
    [codeBlocks]="syncBucket()"
    [heading]="'Synchronous (Call Stack)'"
    [taskType]="'sync'"
    (bucketContentUpdated)="syncBucketChanged.emit($event)"
    (codeBlockDropped)="codeBlockDropped.emit($event)"></li>
  <li
    tndm-task-bucket
    [codeBlocks]="microBucket()"
    [heading]="'Micro Tasks'"
    [taskType]="'micro'"
    (bucketContentUpdated)="microBucketChanged.emit($event)"
    (codeBlockDropped)="codeBlockDropped.emit($event)"></li>
  <li
    tndm-task-bucket
    [codeBlocks]="macroBucket()"
    [heading]="'Macro Tasks'"
    [taskType]="'macro'"
    (bucketContentUpdated)="macroBucketChanged.emit($event)"
    (codeBlockDropped)="codeBlockDropped.emit($event)"></li>
</ul>
